<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>博客后台</title>
    <meta name="description" content="overview & stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="/Public/Library/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Public/Css/admin/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/Public/Library/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Public/Library/font-awesome/css/font-awesome.min.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="/Public/Library/font-awesome/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->

    <!-- ace styles -->
    <link rel="stylesheet" href="/Public/Library/ace/css/ace.min.css" />
    <link rel="stylesheet" href="/Public/Library/ace/css/ace-adjust.css" />
    <link rel="stylesheet" href="/Public/Library/ace/css/ace-skins.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/Public/Library/ace/css/ace-ie.min.css" />
    <![endif]-->
</head>
<body>
<input type="hidden" id="loginSession" value="{$login_session}" />
<script>
    var loginSession = document.getElementById("loginSession").value;
    if(loginSession == '')
    {
        alert("请登录后操作");
        window.location.href="/Admin/Login/index";
    }
</script>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#"><small><i class="icon-leaf"></i>鹏哥个人网站后台管理系统</small> </a>
            <ul class="nav ace-nav pull-right">
                <li class="light-blue user-profile">
                    <a class="user-menu dropdown-toggle" href="#" data-toggle="dropdown">
                        <img alt="Jason's Photo" src="/Public/Image/admin/avatars/user.jpg" class="nav-user-photo" />
							<span id="user_info">
								<small>Welcome,</small> {$Think.session.coolname}
							</span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                        <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/Admin/Login/logout"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul><!--/.ace-nav-->
        </div><!--/.container-fluid-->
    </div><!--/.navbar-inner-->
</div><!--/.navbar-->