{include Public/header.html}
<img src="/Public/Image/banner.jpg" alt="" style="width: 100%" height="361px">
<div class="container">
    <div class="post-lists">


        <ul class="post-list">

            {foreach name=$list item=key value=val}
            <li title="{$val['article_title']}">
                <a href="/Index/Blog/detail?id={$val['id']}">

                    <div class="bnwrap">

                        <img src="/Public/Image/{$val['img_url']}"/>

                    </div>
                    <p>{$val['article_title']}</p>
                    <span class="date">{$val['article_author']} 发布于 {$val['add_time']}</span>
                </a>
            </li>
            {/foreach}
        </ul>


        <!-- Pagination links -->
        <div class="getmore">
            <a href="/articles/page2">查看更多</a>
        </div>


    </div>
    {include Public/sidebar.html}

</div>
{include Public/footer.html}
</body>
</html>

