{include Public/header.html}
<div class="container">
    <div class="post-lists">


        <ul class="post-list">

            {foreach name=$list item=key value=val}
            <li title="{$val['article_title']}">
                <a href="/index/blog/detail?id={$val['id']}">

                    <div class="bnwrap">

                        <img class="lazy" data-original="/Public/Files/Upload/{$val['img_url']}" src="/Public/Image/zhanwei.jpg"/>

                    </div>
                    <p>{$val['article_title']}</p>
                    <span class="date">{$val['article_author']} 发布于 {$val['add_time']}</span>
                </a>
            </li>
            {/foreach}
        </ul>
        <div class="getmore">
            <a href="/index/blog/list">查看更多</a>
        </div>

    </div>
    {include Public/sidebar.html}

</div>
{include Public/footer.html}
<script type="text/javascript" charset="utf-8">
    $(function() {
        $("img.lazy").lazyload({effect: "fadeIn"});
    });
</script>
</body>
</html>

