{include Public/header.html}
<div class="container">
    <article>
        <div class="article-info">
            <img src="/Public/Files/Upload/{$detail['author_img']}" />
           <h1 class="title">{$detail['article_title']}</h1>
            <div class="author">{$detail['article_author']} | {$detail['add_time']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: larger;color: red">{if $detail['type']== 1}原创{elseif $detail['type']== 2}转载自&nbsp;&nbsp;&nbsp;<a href="{$detail['article_link']}" target="_blank">{$detail['article_link']}</a>{/if}</span></div>
        </div>

        <div class="content">
            {$detail['content']}
        </div>

        <div class="author">
            作者：<a href="{if $detail['article_link'] != null}{$detail['article_link']}{else}https://www.ci92.com/{/if}" target="_blank">{$detail['article_author']} ({if $detail['article_link'] != null}{$detail['article_link']}{else}https://www.ci92.com/{/if})</a> - {if $detail['type']== 1}博客站长{else}博主{/if} <br/>
            <a href="https://www.ci92.com/" target="_blank"></a> <br/>
        </div>

        <div id="SOHUCS" sid="{$detail['id']}"></div>
    </article>

{include Public/sidebar.html}
</div>
{include Public/footer.html}
<script>
    hljs.initHighlightingOnLoad();
</script>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cyt6aL8am',
        conf: 'e93c80b0475405d28ba262ad0d5f34f9'
    });
</script>
<script>
    (function(){
        var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?50588fadf893572b6c76924058e2068d":"https://jspassport.ssl.qhimg.com/11.0.1.js?50588fadf893572b6c76924058e2068d";
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>
</body>
</html>

