{include Public/header.html}
<div class="container">
    <article>
        <div class="article-info">
            <img src="/Public/Files/Upload/{$detail['author_img']}" />
           <h1 class="title">{$detail['article_title']}</h1>
            <div class="author">{$detail['article_author']} | {$detail['add_time']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: larger;color: red">{if $detail['type']== 1}原创{elseif $detail['type']== 2}转载自&nbsp;&nbsp;&nbsp;<a href="{$detail['article_link']}" target="_blank">{$detail['article_link']}</a>{/if}</span></div>
        </div>

        <div class="content">
            {$detail['content']}
        </div>

        <div class="author">
            作者：<a href="{$detail['article_link']}" target="_blank">{$detail['article_author']} ({$detail['article_link']})</a> - {if $detail['type']== 1}博客站长{else}博主{/if} <br/>
            <a href="https://www.pengge.win/" target="_blank"></a> <br/>
        </div>

        <div id="SOHUCS"></div>
        <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
        <script type="text/javascript">
            window.changyan.api.config({
                appid: 'cyt4A398W',
                conf: 'e93c80b0475405d28ba262ad0d5f34f9'
            });
        </script>

    </article>

{include Public/sidebar.html}
</div>
{include Public/footer.html}
<script>
    hljs.initHighlightingOnLoad();
</script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>

