{include Public/header.html}
<div class="container">
    <article>
        <div class="article-info">
            <img src="/Public/Files/Upload/{$detail['author_img']}" />
           <h1 class="title">{$detail['article_title']}</h1>
            <div class="author">{$detail['article_author']} | {$detail['add_time']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: larger;color: red">{if $detail['type']== 1}原创{elseif $detail['type']== 2}转载自&nbsp;&nbsp;&nbsp;<a href="{$detail['article_link']}" target="_blank">{$detail['article_link']}</a>{/if}</span></div>
        </div>

        <div class="content">
            {$detail['content']}
        </div>

        <div class="author">
            作者：<a href="{if $detail['article_link'] != null}{$detail['article_link']}{else}https://www.pengge.win/{/if}" target="_blank">{$detail['article_author']} ({if $detail['article_link'] != null}{$detail['article_link']}{else}https://www.pengge.win/{/if})</a> - {if $detail['type']== 1}博客站长{else}博主{/if} <br/>
            <a href="https://www.pengge.win/" target="_blank"></a> <br/>
        </div>

        <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    </article>

{include Public/sidebar.html}
</div>
{include Public/footer.html}
<script>
    hljs.initHighlightingOnLoad();
</script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script>
    (function(){
        var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?c6007323ce94ba88a0f3df50f29f1f5c":"https://jspassport.ssl.qhimg.com/11.0.1.js?c6007323ce94ba88a0f3df50f29f1f5c";
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>
<script>
    var cloudTieConfig = {
        url: document.location.href,
        sourceId: "",
        productKey: "dfd4c02580fa4c49843511eeb89ff1dc",
        target: "cloud-tie-wrapper"
    };
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
</body>
</html>

