{include Public/header.html}
<link href="/Public/Css/blog/cates.css" type=text/css rel=stylesheet>
<div class="container">
    <div class="post-lists">
        <nav class="cates">
            <ul style="padding-left:1%">
                <li class="cate-menu-item {if $tag == null}active{/if}"><a href="/index/blog/list" class="cate-menu-link">全部文章</a></li>
                {foreach name=$tagList item=key value=val}
                    <li class="cate-menu-item {if $tag == $val['tag']}active{/if}"><a href="javascript:void(0)" tag="{$val['tag']}" onclick="go_href(this)" class="cate-menu-link">{$val['tag']}</a></li>
                {/foreach}
                <!--
                <li class="cate-menu-item"><a href="/cates/性能优化/index.html" class="cate-menu-link">性能优化</a></li>
                <li class="cate-menu-item"><a href="/cates/项目总结/index.html" class="cate-menu-link">项目总结</a></li>
                <li class="cate-menu-item"><a href="/cates/体验报告/index.html" class="cate-menu-link">体验报告</a></li>
                <li class="cate-menu-item"><a href="/cates/资源合集/index.html" class="cate-menu-link">资源合集</a></li>
                <li class="cate-menu-item"><a href="/cates/生活玩乐/index.html" class="cate-menu-link">生活玩乐</a></li>
                -->
            </ul>
        </nav>
        <ul class="post-list">
            {foreach name=$list item=key value=val}
            <li title="{$val['article_title']}">
                <a href="/index/blog/detail?id={$val['id']}">

                    <div class="bnwrap">

                        <img class="lazy" data-original="/Public/Files/Upload/{$val['img_url']}" src="/Public/Image/zhanwei.jpg"/>

                    </div>
                    <p>{$val['article_title']}</p>
                    <span class="date">{$val['article_author']} 发布于 {$val['add_time']}</span>
                </a>
            </li>
            {/foreach}
        </ul>


        <!-- Pagination links -->
        <!--
        <div class="getmore">
            <a href="/articles/page2">查看更多</a>
        </div>
        -->

    </div>
    {include Public/sidebar.html}
    <div class="posts-nav-wrap">
        <ul class="posts-nav">
            <li class="previous"><a href="search?seo=分页&amp;PageNo=5" class="previous">←</a></li>
            <li class="next"><a href="search?seo=分页&amp;PageNo=7" class="next">←</a></li>
        </ul>
    </div>
</div>
{include Public/footer.html}
</body>
<script src="/Public/Js/blog/jquery.jqpagination.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $('.pagination').jqPagination({
        paged: function(page) {
            // 分页事件
        }
    });
    $(function() {
        $("img.lazy").lazyload({effect: "fadeIn"});
    });
</script>
<script>
    function go_href(obj) {
        var tag = $(obj).attr("tag");
        window.location.href = '/index/blog/list?tag='+encodeURI(encodeURI(URLencode(tag)));
    }
    function URLencode(sStr) {
        return sStr.replace(/\+/g, '%2B').replace(/\"/g,'%22').replace(/\'/g, '%27').replace(/\//g,'%2F');
    }
</script>
</html>

