<div class="page-footer">
    <div class="foot-inner">
        <dl>
            <dt>友情链接</dt>
            <dd>
                <ul>
                    <li><a href="http://h5.baidu.com/" target="_blank">H5 页面制作工具</a></li>
                    <li><a href="http://efe.baidu.com/" target="_blank">百度 EFE</a></li>
                    <li><a href="http://ued.baidu.com/" target="_blank">百度搜索用户体验中心</a></li>
                    <li><a href="http://eux.baidu.com/" target="_blank">百度 EUX</a></li>
                    <li><a href="http://mux.baidu.com/" target="_blank">百度 MUX</a></li>
                    <li><a href="http://taobaofed.org/" target="_blank">淘宝 FED</a></li>
                    <li><a href="http://www.75team.com/" target="_blank">奇舞团</a></li>
                    <li><a href="http://www.w3ctech.com" target="_blank">w3ctech</a></li>
                    <li><a href="http://www.alloyteam.com/" target="_blank">腾讯 AlloyTeam</a></li>
                    <li><a href="http://isux.tencent.com/" target="_blank">腾讯 ISUX</a></li>
                    <li><a href="http://ued.ctrip.com/blog/?cat=11" target="_blank">携程 UED</a></li>
                    <li><a href="http://aotu.io/" target="_blank">凹凸实验室</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt>我们的项目</dt>
            <dd>
                <ul>

                    <li><a href="http://github.com/fex-team/fis/" target="_blank">FIS</a></li>

                    <li><a href="http://github.com/fex-team/kityformula-editor/" target="_blank">KityFormula</a></li>

                    <li><a href="http://naotu.baidu.com/" target="_blank">KityMinder</a></li>

                    <li><a href="http://github.com/fex-team/ueditor/" target="_blank">UEditor</a></li>

                    <li><a href="http://fex.baidu.com/webuploader" target="_blank">WebUploader</a></li>

                </ul>
            </dd>
        </dl>

        <dl>
            <dt>加入我们</dt>
            <dd>
                <p>FEX 是百度「Web 前端研发部」的内部名称，其中 FE 是 Front End 的缩写，X 代表我们不仅关注前端技术，还更重视全端及全栈的能力。</p>

                <p>如果你对这个团队感兴趣，可以<a href="/we-need-you/">【更多了解一下】</a>。</p>
            </dd>
        </dl>
    </div>
</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262314234'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1262314234%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>