<div class="page-footer">
    <div class="foot-inner">
        <dl>
            <dt>友情链接</dt>
            <dd>
                <ul>
                    <li>暂无，欢迎互加友链</li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt>闲言碎语</dt>
            <dd>
                <p>一步一个脚印，加油！</p>
            </dd>
        </dl>
        <dl>
            <dd>
                <p>网站数据统计中</p>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262314234'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1262314234%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </dd>
        </dl>
    </div>
</div>