<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="pengge的个人博客" />
    <meta name="keywords" content="个人博客" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://fex.baidu.com/feed.xml">
    <title>个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="baidu-site-verification" content="bUyKbVcNh2" />
    <link rel="stylesheet" href="/Public/Css/normalize.css">
    <link rel="stylesheet" href="/Public/Css/base.css">
    <link rel="stylesheet" href="/Public/Css/fextm.css">
    <link rel="stylesheet" href="/Public/Css/synatx.css">
    <link rel="stylesheet" href="/Public/Css/blog/highlight.min.css">
    <script src="/Public/Js/blog/highlight.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">您使用的浏览器版本<strong>过老</strong>，请<a href="http://browsehappy.com/">使用最新的浏览器</a>来提升浏览体验。</p>
<![endif]-->


<div class="page-header">
    <a href="/"><div class="logo"></div></a>
    <ul class="page-nav page-navi-articles">
        <li><a href="/">首页</a></li>
        <li><a href="/articles/">技术</a></li>
        <li><a href="/Guide/Index/index">ppf用户手册</a></li>
        <li><a href="/we-need-you/" target="_blank">我们需要你</a></li>
        <li><a href="/weekly/">技术周刊</a></li>
        <li><a href="https://github.com/fex-team/" target="_blank">Github</a></li>
        <li><a href="https://speakerdeck.com/baidufe" target="_blank">Slides</a></li>
    </ul>
    <a class="rss" target="_blank" href="http://fex.baidu.com/feed.xml"></a>
</div>

<link rel="stylesheet" href="/Public/css/synatx.css">
