<div class="page-sidebar">
    <!-- <div>
        <img src="/Public/images/formula.png" />
    </div> -->

    <ul class="github-projects">

        <li><a href="https://github.com/fex-team/fis" target="_blank">FIS - 前端集成解决方案</a></li>

        <li><a href="https://github.com/fex-team/kityformula-editor" target="_blank">KityFormula - 公式展现和编辑</a></li>

        <li><a href="https://github.com/fex-team/kityminder" target="_blank">KityMinder - 思维导图编辑器</a></li>

        <li><a href="https://github.com/fex-team/ueditor" target="_blank">UEditor - 富文本编辑器</a></li>

        <li><a href="https://github.com/fex-team/webuploader" target="_blank">WebUploader - 文件上传组件</a></li>

    </ul>

    <div style="text-align:center;margin:10px 0;"><img src="/Public/images/erwei.jpg" /></div>

</div>