<div class="page-sidebar">
    <!-- <div>
        <img src="/Public/images/formula.png" />
    </div> -->

    <ul class="github-projects">

        <li style="background: url(/Public/Image/chat.jpg) no-repeat;background-size: 20px;background-position-x: 10px;background-position-y: 10px;"><a href="http://chat.ci92.com/" target="_blank" style="text-align: center">websocket - 在线聊天室</a></li>

        <li style="background: url(/Public/Image/parser.jpg) no-repeat;background-size: 25px;background-position-x: 10px;background-position-y: 5px;"><a href="http://www.ci92.com/Index/Index/vardump" target="_blank" style="text-align: center">print_r,var_dump数据解析</a></li>

    </ul>

    <div style="text-align:center;margin:50px 0;"><img src="/Public/Image/qqzone.png" style="width: 100%"/></div>

</div>