<footer>

    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">

        <a href="features.html" class="btn btn-neutral float-right" title="CodeIgniter 特性">下一个主题 <span class="fa fa-arrow-circle-right"></span></a>


        <a href="getting_started.html" class="btn btn-neutral" title="CodeIgniter 将从这里开始"><span class="fa fa-arrow-circle-left"></span> 上一个主题</a>

    </div>



    <div id="notes">
        <div id="cyReward" class="reward" role="cylabs" data-use="reward" sid="userguide3/overview/at_a_glance"></div>

        <!-- 评论框 start -->
        <div id="SOHUCS" sid="userguide3/overview/at_a_glance"></div>
        <script>
            (function(){
                var appid = 'cysUhlHaQ';
                var conf = 'prod_13204b098623005ce9934964677924bd';
                var width = window.innerWidth || document.documentElement.clientWidth;
                if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
        </script>
        <!-- 评论框 end -->

        <script src="https://changyan.itc.cn/js/lib/jquery.js"></script>
        <script src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cysUhlHaQ"></script>
    </div>


    <hr/>

    <div role="contentinfo">
        <p>
            &copy; 版权所有 2014 - 2017, 庄景鹏.
            最后修改: 2017-03-22.
        </p>

    </div>

    <p>
        <a href="https://github.com/CodeIgniter-Chinese/codeigniter-user-guide" target="_blank">Github 简体中文翻译</a>
        ·
        <a href="http://codeigniter-chinese.github.io/codeigniter-user-guide/codeigniter_user_guide.zip">离线版压缩包下载</a>
        ·
        <a href="http://codeigniter-chinese.github.io/codeigniter-user-guide/CodeIgniter.pdf">PDF 版下载</a>
    </p>


</footer>