<footer>

    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">

    </div>



    <div id="notes">
        <div id="cyReward" class="reward" role="cylabs" data-use="reward" sid="userguide3/overview/at_a_glance"></div>
        <!-- UY BEGIN -->
        <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    </div>


    <hr/>

    <div role="contentinfo">
        <p>
            &copy; 版权所有 2014 - 2017, 庄景鹏.
            最后修改: 2017-03-22.
        </p>

    </div>



</footer>
<script>
    var cloudTieConfig = {
        url: document.location.href,
        sourceId: "",
        productKey: "dfd4c02580fa4c49843511eeb89ff1dc",
        target: "cloud-tie-wrapper"
    };
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d154fed22b2edde5c6d10d39d5c6e56";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262314234'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1262314234%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>