<footer>

    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">

    </div>



    <div id="notes">
        <div id="cyReward" class="reward" role="cylabs" data-use="reward" sid="userguide3/overview/at_a_glance"></div>
        <!-- UY BEGIN -->
        <div id="SOHUCS"></div>
    </div>


    <hr/>

    <div role="contentinfo">
        <p>
            &copy; 版权所有 2014 - 2017, 庄景鹏.
            最后修改: 2017-03-22.
        </p>

    </div>



</footer>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d154fed22b2edde5c6d10d39d5c6e56";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cyt4A398W',
        conf: 'e93c80b0475405d28ba262ad0d5f34f9'
    });
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262672501'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1262672501%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>