<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>欢迎使用 ppf 中文手册|用户手册|用户指南|中文文档</title>
    <meta name="keywords" content="ppf 中文手册,庄景鹏个人博客,php博客，高质量的个人博客网站" />
    <meta name="description" content="ppf 中文手册,致力于打造最全面的ppf个人框架,Power by庄景鹏个人博客,我会原创以及转载更多高质量的文章分享给大家" />


    <link rel="shortcut icon" href="/Public/Image/icon.gif" type="image/x-icon">


    <link href="/Public/Css/blog/fonts.css" rel="stylesheet" type="text/css"/>


    <link rel="stylesheet" href="/Public/Css/blog/theme.css" type="text/css"/>


    <link rel="stylesheet" href="/Public/Css/blog/theme_cn.css" type="text/css"/>
    <link rel="top" title="CodeIgniter 3.1.3 中文手册|用户手册|用户指南|中文文档" href="../index.html"/>
    <meta name="baidu-site-verification" content="ikDgBYtLtX" />
    <link rel="stylesheet" href="/Public/Css/blog/highlight.min.css">
    <script src="/Public/Js/blog/highlight.min.js"></script>


    <script src="/Public/Js/blog/modernizr.2.6.2.min.js"></script>

</head>