<nav data-toggle="wy-nav-shift" class="wy-nav-side">
    <div class="wy-side-nav-search">

        <a href="../index.html" class="fa fa-home"> ppf</a>


        <div role="search">
            <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
                <input type="text" name="q" placeholder="搜索手册" />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="default" />
            </form>
        </div>
    </div>

    <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        {if !empty($main_node_arr)}
        {foreach name=$main_node_arr item=key value=val}
        <ul>
            <li {if $val['controller'] == Dispath::$current_controller}class="toctree-l1 current" {else}class="toctree-l1" {/if}><a class="reference internal" href="/guide/{$val['controller']}/{$val['action']}">{$val['directory_name']}</a><ul class="current">
                {if !empty($val['children_node'])}
                {foreach name=$val['children_node'] item=k value=v}
                <li {if $v['action'] == Dispath::$current_action}class="toctree-l2 current" {else}class="toctree-l2"{/if} ><a class="reference internal" href="/guide/{$v['controller']}/{$v['action']}">{$v['directory_name']}</a></li>
                {/foreach}
                {/if}
            </ul>
            </li>
        </ul>
        {/foreach}
        {/if}

    </div>
    &nbsp;
</nav>